# Question 1

In [2]:
!pip install selenium

Collecting selenium
  Downloading selenium-4.7.2-py3-none-any.whl (6.3 MB)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\hi\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\hi\anaconda3\lib\site-packages (from selenium) (1.26.9)
Collecting trio~=0.17
  Downloading trio-0.22.0-py3-none-any.whl (384 kB)
Collecting trio-websocket~=0.9
  Downloading trio_websocket-0.9.2-py3-none-any.whl (16 kB)
Collecting async-generator>=1.9
  Downloading async_generator-1.10-py3-none-any.whl (18 kB)
Requirement already satisfied: sortedcontainers in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Collecting outcome
  Downloading outcome-1.2.0-py2.py3-none-any.whl (9.7 kB)
Requirement already satisfied: sniffio in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Collecting exceptiongroup>=1.0.0rc9
  Downloading exceptiongroup-1.1.0-py3-none-any.whl (14 kB)
Requirement already satisfied: attrs>=19.2.0 in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: idna in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: cffi>=1.14 in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: pycparser in c:\users\hi\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Collecting wsproto>=0.14
  Downloading wsproto-1.2.0-py3-none-any.whl (24 kB)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\hi\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Collecting h11<1,>=0.9.0
  Downloading h11-0.14.0-py3-none-any.whl (58 kB)
Installing collected packages: outcome, h11, exceptiongroup, async-generator, wsproto, trio, trio-websocket, selenium
Successfully installed async-generator-1.10 exceptiongroup-1.1.0 h11-0.14.0 outcome-1.2.0 selenium-4.7.2 trio-0.22.0 trio-websocket-0.9.2 wsproto-1.2.0

In [4]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [7]:
driver=webdriver.Chrome(r"C:\Users\Hi\Desktop\chromedriver.exe")

In [8]:
driver.get("https://www.naukri.com/")

In [9]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Analyst')

In [10]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [11]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [14]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [15]:
#job title
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
#job location
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
#Company name
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
#job experience
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [16]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [17]:
import pandas as pd
df=pd.DataFrame({'title':job_title,'location':job_location,'company_name':company_name,'Experience':experience_required})
df

,title,location,company_name,Experience
0,Business Data Analyst (Sr Exe / Asst Manager),Bangalore/Bengaluru,Talentleads,3-5 Yrs
1,Junior Data Analyst/ Scientist- Fresher Position,"Hybrid - Bangalore/Bengaluru, New Delhi, Mumba...",Sejal Consulting Hub,0-5 Yrs
2,Data Analyst / Sr. Data Analyst / Lead,"Bangalore/Bengaluru, Hyderabad/Secunderabad, P...",Client Of Logical Hiring,3-12 Yrs
3,Data Analyst,Bangalore/Bengaluru,CPA Global,5-10 Yrs
4,Immediate Hiring For MIS and Data Analyst,Bangalore/Bengaluru,Regalix,1-6 Yrs
5,Reference Data Analyst,Bangalore/Bengaluru,Deutsche Bank,2-5 Yrs
6,Junior Data Analyst,Bangalore/Bengaluru,RCPC,0-1 Yrs
7,senior data managment analyst,Bangalore/Bengaluru,Wells Fargo,7-9 Yrs
8,Customer Data Analyst,Bangalore/Bengaluru,Oracle,1-4 Yrs
9,Business Data Analysts (People & Culture),Bangalore/Bengaluru,Zscaler Softech,5-6 Yrs

# Question 2

In [18]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\hi\anaconda3\lib\site-packages (4.7.2)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\hi\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: trio~=0.17 in c:\users\hi\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\hi\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\hi\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: sniffio in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: outcome in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: idna in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: pycparser in c:\users\hi\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\hi\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\hi\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\hi\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [19]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By

In [20]:
driver=webdriver.Chrome(r"C:\Users\Hi\Desktop\chromedriver.exe")

In [21]:
driver.get("https://www.naukri.com/")

In [22]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Scientist')

In [23]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[6]/div/div/div[5]/div/div/div/input")
location.send_keys('Bangalore')

In [24]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [25]:
job_title=[]
job_location=[]
company_name=[]

In [26]:
#job title
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
#job location
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
#Company name
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)

In [27]:
print(len(job_title),len(job_location),len(company_name))

10 10 10

In [28]:
import pandas as pd
df=pd.DataFrame({'title':job_title,'location':job_location,'company_name':company_name,})
df

,title,location,company_name
0,Data Scientist,"Temp. WFH - Bangalore/Bengaluru, Hyderabad/Sec...",Tech Mahindra
1,Data Science Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
2,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
3,Lead Data Scientist,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",Birlasoft
4,Data Scientist,"Hybrid - Bangalore/Bengaluru, Noida, Hyderabad...",Birlasoft
5,Data Scientist Knowledge graph,"Hybrid - Bangalore/Bengaluru, Pune",Capco
6,Data Scientist,Bangalore/Bengaluru,Infosys
7,SOFTWARE ENGINEER,Bangalore/Bengaluru,Mindtree
8,Analytic Delivery Lead,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Gharondaa Advisors
9,Opportunity For Data Scientist/Sr. Data Scient...,"Hybrid - Bangalore/Bengaluru, Gurgaon/Gurugram...",PayU

# Question 3

In [74]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\hi\anaconda3\lib\site-packages (4.7.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\hi\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\hi\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\hi\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\hi\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: sniffio in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: idna in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: attrs>=19.2.0 in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: cffi>=1.14 in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: sortedcontainers in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: outcome in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in c:\users\hi\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\hi\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\hi\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\hi\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [75]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By

In [76]:
driver=webdriver.Chrome(r"C:\Users\Hi\Desktop\chromedriver.exe")

In [77]:
driver.get("https://www.naukri.com/")

In [78]:
designation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
designation.send_keys('Data Scientist')

In [79]:
search=driver.find_element(By.CLASS_NAME,"qsbSubmit")
search.click()

In [80]:
search=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[5]/div[2]/div[2]/label/i")
search.click()

In [81]:
search=driver.find_element(By.XPATH,"/html/body/div[1]/div[4]/div/div/section[1]/div[2]/div[6]/div[2]/div[2]/label/i")
search.click()

In [82]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [83]:
#job title
title_tags=driver.find_elements(By.XPATH,'//a[@class="title ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)
    
#job location
location_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft locWdth"]')
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)
    
#Company name
company_tags=driver.find_elements(By.XPATH,'//a[@class="subTitle ellipsis fleft"]')
for i in company_tags[0:10]:
    company=i.text
    company_name.append(company)
    
#job experience
experience_tags=driver.find_elements(By.XPATH,'//span[@class="ellipsis fleft expwdth"]')
for i in experience_tags[0:10]:
    exp=i.text
    experience_required.append(exp)

In [84]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [85]:
import pandas as pd
df=pd.DataFrame({'title':job_title,'location':job_location,'company_name':company_name,'Experience':experience_required})
df

,title,location,company_name,Experience
0,Analyst-Data Science,Gurgaon/Gurugram,AMERICAN EXPRESS,0-3 Yrs
1,Data Scientist,"Delhi / NCR, Noida(Sector-136 Noida), Ghaziaba...",Extramarks Education,3-5 Yrs
2,Data Scientist,Noida,Gujarat Fluorochemicals,1-2 Yrs
3,AWS Data Warehouse Developer - IT Industry,"Delhi / NCR, Bangalore/Bengaluru, Maharashtra",GenNext India Private Limited,4-9 Yrs
4,Data Scientist,Permanent Remote,Vizlogic Digital Solutions,2-5 Yrs
5,Data Scientist,Noida,Metrix Research & Analytics,3-7 Yrs
6,Occupancy Surveyor - Gurugram,Gurgaon/Gurugram,Vatika Hotels,5-10 Yrs
7,Data Scientist,"Dehradun, Hyderabad/Secunderabad, Gurgaon/Guru...",torcai digital media,2-7 Yrs
8,Junior Data Scientist,Delhi / NCR,Skyleaf Consultants,2-4 Yrs
9,Modeler,Noida,Resource Access Management Solutions Pvt. Ltd.,3-7 Yrs

# Question 4

In [18]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\hi\anaconda3\lib\site-packages (4.7.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\hi\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\hi\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\hi\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\hi\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: attrs>=19.2.0 in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: cffi>=1.14 in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: sniffio in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: idna in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: sortedcontainers in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: outcome in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: pycparser in c:\users\hi\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\hi\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\hi\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\hi\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [19]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [20]:
driver=webdriver.Chrome(r"C:\Users\Hi\Desktop\chromedriver.exe")

In [21]:
driver.get("https://www.flipkart.com/")

In [24]:
product=driver.find_element(By.CLASS_NAME,"_3704LK")
product.send_keys("Sunglasses")

In [25]:
search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [26]:
Brand_name=[]
product_detail=[]
product_amount=[]
Discount=[]

In [27]:
#Brand name
brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand_tags[0:35]:
    brand=i.text
    Brand_name.append(brand)
    
#product detail
detail_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in detail_tags[0:35]:
    detail=i.text
    product_detail.append(detail)
    
#product amount
amount_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in amount_tags[0:35]:
    amount=i.text
    product_amount.append(amount)
    
#Discount
discount_tags=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
for i in discount_tags[0:35]:
    dis=i.text
    Discount.append(dis)

In [28]:
print(len(Brand_name),len(product_detail),len(product_amount),len(Discount))

35 35 35 35

In [29]:
import pandas as pd
import numpy as np
df=pd.DataFrame({'Brand':Brand_name,'product_detail':product_detail,'cost':product_amount,'Discount':Discount})
df

,Brand,product_detail,cost,Discount
0,jiebo,UV Protection Rectangular Sunglasses (Free Size),₹199,55% off
1,ROZZETTA CRAFT,UV Protection Aviator Sunglasses (55),₹649,74% off
2,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹599,40% off
3,Elligator,"UV Protection Cat-eye, Retro Square, Oval, Rou...",₹149,75% off
4,Fastrack,UV Protection Rectangular Sunglasses (Free Size),₹499,37% off
5,PHENOMENAL,UV Protection Retro Square Sunglasses (53),₹129,87% off
6,SRPM,UV Protection Wayfarer Sunglasses (50),₹149,88% off
7,ROZZETTA CRAFT,"UV Protection, Gradient Rectangular Sunglasses...",₹449,77% off
8,Elligator,UV Protection Round Sunglasses (54),₹229,90% off
9,LIZA ANGEL,"Riding Glasses, Night Vision Spectacle Sunglas...",₹174,82% off
10,Elligator,"UV Protection Cat-eye, Retro Square, Oval, Rou...",₹129,87% off
11,Dervin,UV Protection Wayfarer Sunglasses (Free Size),₹224,85% off
12,Fastrack,UV Protection Shield Sunglasses (Free Size),₹579,35% off
13,VINCENT CHASE,UV Protection Wayfarer Sunglasses (59),₹599,70% off
14,Elligator,UV Protection Round Sunglasses (53),₹149,85% off
15,ROZZETTA CRAFT,UV Protection Spectacle Sunglasses (Free Size),₹399,80% off
16,Fastrack,UV Protection Aviator Sunglasses (Free Size),₹579,35% off
17,kingsunglasses,UV Protection Retro Square Sunglasses (Free Size),₹129,87% off
18,PIRASO,UV Protection Aviator Sunglasses (54),₹244,84% off
19,ROYAL SON,"UV Protection Rectangular, Retro Square Sungla...",₹497,66% off
20,PIRASO,UV Protection Aviator Sunglasses (58),₹313,87% off
21,SRPM,"Night Vision, UV Protection Round Sunglasses (54)",₹179,82% off
22,New Specs,UV Protection Rectangular Sunglasses (Free Size),₹259,90% off
23,Being Better,"Gradient, UV Protection Wayfarer Sunglasses (F...",₹357,82% off
24,Fastrack,UV Protection Wayfarer Sunglasses (Free Size),₹579,35% off
25,Fastrack,"UV Protection, Polarized Rectangular Sunglasse...",₹519,35% off
26,LIZA ANGEL,Polarized Wayfarer Sunglasses (Free Size),₹129,87% off
27,Resist,Polarized Retro Square Sunglasses (Free Size),"₹1,399",65% off
28,Fastrack,UV Protection Retro Square Sunglasses (Free Size),₹519,35% off
29,New Specs,"UV Protection, Polarized, Mirrored Rectangular...",₹129,87% off
30,SHAAH COLLECTIONS,Gradient Oval Sunglasses (40),₹185,89% off
31,ZARSHA,UV Protection Clubmaster Sunglasses (54),₹449,65% off
32,PIRASO,"Mirrored, Night Vision, UV Protection, Riding ...",₹257,83% off
33,Sewell,UV Protection Rectangular Sunglasses (Free Size),₹280,81% off
34,SUNBEE,"Polarized, Riding Glasses, UV Protection Wayfa...",₹185,81% off

In [70]:
Brand_name=[]
product_detail=[]
product_amount=[]
Discount=[]

In [71]:
start=0
end=2
for page in range(start,end):
    brands=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brands:
        Brand_name.append(i.text)
start=0
end=2
for page in range(start,end):       
    details=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in details:
        product_detail.append(i.text)
start=0
end=2
for page in range(start,end):        
    amount=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in amount:
        product_amount.append(i.text)
start=0
end=2
for page in range(start,end):        
    discount=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in discount:
        Discount.append(i.text)
        
    next_button=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]')
    next_button.click()
    time.sleep(3)

In [72]:
print(len(Brand_name),
len(product_detail),
len(product_amount),
len(Discount))

80 78 80 80

In [73]:
#Brand name
brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in brand_tags[40:75]:
    brand=i.text
    Brand_name.append(brand)
    
#product detail
detail_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in detail_tags[40:75]:
    detail=i.text
    product_detail.append(detail)
    
#product amount
amount_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in amount_tags[40:75]:
    amount=i.text
    product_amount.append(amount)
    
#Discount
discount_tags=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]')
for i in discount_tags[40:75]:
    dis=i.text
    Discount.append(dis)

In [74]:
print(len(Brand_name),len(product_detail),len(product_amount),len(Discount))

115 113 115 115

# Question 5

In [75]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\hi\anaconda3\lib\site-packages (4.7.2)
Requirement already satisfied: trio~=0.17 in c:\users\hi\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\hi\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\hi\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\hi\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: attrs>=19.2.0 in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: idna in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: async-generator>=1.9 in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sortedcontainers in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: cffi>=1.14 in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: sniffio in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: outcome in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in c:\users\hi\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\hi\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\hi\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\hi\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [76]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [84]:
driver=webdriver.Chrome(r"C:\Users\Hi\Desktop\chromedriver.exe")

In [85]:
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGREPBFGI&marketplace=FLIPKART")

In [86]:
Rating=[]
Review_summary=[]
Full_review=[]

In [87]:
#Rating
Rating_tags=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for i in Rating_tags[0:100]:
    rating=i.text
    Rating.append(rating)
    
#Review Summary
Review_tags=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for i in Review_tags[0:100]:
    review=i.text
    Review_summary.append(review)
    
#Full review
Freview_tags=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
for i in Freview_tags[0:100]:
    rev=i.text
    Full_review.append(rev)

In [88]:
print(len(Rating),len(Review_summary),len(Full_review))

10 10 10

In [99]:
Rating=[]
Review_summary=[]
Full_review=[]

In [100]:
start=0
end=10
for page in range(start,end):
    rating=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in rating:
        Rating.append(i.text)
start=0
end=10
for page in range(start,end):       
    reviewsum=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in reviewsum:
        Review_summary.append(i.text)
start=0
end=10
for page in range(start,end):        
    Freview=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]')
    for i in Freview:
        Full_review.append(i.text)
        
    next_button=driver.find_element(By.XPATH,'//a[@class="ge-49M"]')
    next_button.click()
    time.sleep(3)

In [101]:
print(len(Rating),
len(Review_summary),
len(Full_review))

100 100 100

# Question 6

In [56]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\hi\anaconda3\lib\site-packages (4.7.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\hi\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\hi\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: trio~=0.17 in c:\users\hi\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\hi\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: outcome in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: sniffio in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: attrs>=19.2.0 in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: cffi>=1.14 in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: idna in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: pycparser in c:\users\hi\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\hi\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\hi\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\hi\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [57]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [58]:
driver=webdriver.Chrome(r"C:\Users\Hi\Desktop\chromedriver.exe")

In [59]:
driver.get("https://www.flipkart.com/")

In [60]:
product=driver.find_element(By.CLASS_NAME,"_3704LK")
product.send_keys('Sneakers')

In [61]:
search=driver.find_element(By.CLASS_NAME,"L0Z3Pu")
search.click()

In [62]:
Brand=[]
product_description=[]
price=[]

In [63]:
#Brand
product_brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
for i in product_brand_tags[0:100]:
    brand=i.text
    Brand.append(brand)
    
#product description
description_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
for i in description_tags[0:100]:
    des=i.text
    product_description.append(des)
    
#price
Price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for i in Price_tags[0:100]:
    prce=i.text
    price.append(prce)

In [64]:
print(len(Brand),len(product_description),len(price))

40 39 40

In [71]:
Brand=[]
product_description=[]
price=[]

In [72]:
start=0
end=3
for page in range(start,end):
    product_brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in product_brand_tags:
        Brand.append(i.text)
start=0
end=3
for page in range(start,end):       
    description_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in description_tags:
        product_description.append(i.text)
start=0
end=3
for page in range(start,end):        
    Price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in Price_tags:
        price.append(i.text)
        
    next_button=driver.find_element(By.XPATH,'//a[@class="ge-49M"]')
    next_button.click()
    time.sleep(3)

In [73]:
print(len(Brand),
len(product_description),
len(price))

120 117 120

# Question 7

In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\hi\anaconda3\lib\site-packages (4.7.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\hi\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\hi\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: trio~=0.17 in c:\users\hi\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\hi\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: async-generator>=1.9 in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: cffi>=1.14 in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: sortedcontainers in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: attrs>=19.2.0 in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: sniffio in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: outcome in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in c:\users\hi\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\hi\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\hi\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\hi\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [3]:
driver=webdriver.Chrome(r"C:\Users\Hi\Desktop\chromedriver.exe")

In [4]:
driver.get("https://www.amazon.in/")

In [7]:
product=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input")
product.send_keys('Laptop')

In [8]:
search=driver.find_element(By.XPATH,"/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")
search.click()

In [10]:
search=driver.find_element(By.XPATH,"/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[5]/ul[6]/li[15]/span/a/div/label/i")
search.click()

In [11]:
Title=[]
Ratings=[]
Price=[]

In [12]:
#Title
title_tags=driver.find_elements(By.XPATH,'//h2[@class="a-size-mini a-spacing-none a-color-base s-line-clamp-2"]')
for i in title_tags[0:10]:
    title=i.text
    Title.append(title)
    
#Ratings
rating_tags=driver.find_elements(By.XPATH,'//span[@class="a-size-base"]')
for i in rating_tags[0:10]:
    rating=i.text
    Ratings.append(rating)
    
#Price
price_tags=driver.find_elements(By.XPATH,'//span[@class="a-price-whole"]')
for i in price_tags[0:10]:
    prc=i.text
    Price.append(prc)

In [13]:
print(len(Title),len(Ratings),len(Price))

10 10 10

In [14]:
import pandas as pd
df=pd.DataFrame({'Title':Title,'Rating':Ratings,'Price':Price,})
df

                                               Title Rating     Price
0  LG Gram14 Intel EVO-[12th Gen Corei7/Win11/16G...    4.0    84,990
1  Fujitsu UH-X 11th Gen Intel Core i7 13.3" FHD ...    4.3    94,990
2  ASUS Vivobook 14, Intel Core i7-1165G7 11th Ge...    2.5    53,990
3  Acer Nitro 5 Gaming Laptop Intel core i7 11th ...    4.5    78,990
4  HP Victus Gaming Latest 12th Gen Intel Core i7...    4.3    82,990
5  HP Pavilion Plus, 12th Gen Intel Core i7 16GB ...    4.0    94,630
6  Lenovo IdeaPad Gaming 3 Intel Core i7-12700H 1...    3.7    99,990
7  Lenovo IdeaPad Slim 5 12th Gen Intel Core i7 1...    4.2    79,990
8  Fujitsu Laptop (Intel i7 11th Gen/16GB RAM & 1...    4.3  1,00,569
9  (Renewed) Dell Latitude E7470 Intel Core i7 6t...    4.2    32,999

# Question 8

In [16]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\hi\anaconda3\lib\site-packages (4.7.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\hi\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\hi\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: trio~=0.17 in c:\users\hi\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\hi\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: async-generator>=1.9 in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: idna in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: attrs>=19.2.0 in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: outcome in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: sniffio in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: sortedcontainers in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: pycparser in c:\users\hi\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\hi\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\hi\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\hi\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [17]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [18]:
driver=webdriver.Chrome(r"C:\Users\Hi\Desktop\chromedriver.exe")

In [19]:
driver.get("https://www.azquotes.com/")

In [20]:
search=driver.find_element(By.XPATH,"/html/body/div[1]/div[1]/div[1]/div/div[3]/ul/li[5]/a")
search.click()

In [31]:
Quote=[]
Author=[]
Type_of_Quotes=[]

In [32]:
#Quote
quote_tags=driver.find_elements(By.XPATH,'//a[@class="title"]')
for i in quote_tags[0:1000]:
    quo=i.text
    Quote.append(quo)
    
#Author
author_tags=driver.find_elements(By.XPATH,'//div[@class="author"]')
for i in author_tags[0:1000]:
    aut=i.text
    Author.append(aut)
    
#Type of Quotes
Tquotes_tags=driver.find_elements(By.XPATH,'//div[@class="tags"]')
for i in Tquotes_tags[0:1000]:
    Tquo=i.text
    Type_of_Quotes.append(Tquo)

In [33]:
print(len(Quote),len(Author),len(Type_of_Quotes))

100 100 100

In [43]:
Quote=[]
Author=[]
Type_of_Quotes=[]

In [44]:
start=0
end=10
for page in range(start,end):
    quote=driver.find_elements(By.XPATH,'//a[@class="title"]')
    for i in quote:
        Quote.append(i.text)
start=0
end=10
for page in range(start,end):       
    author=driver.find_elements(By.XPATH,'//div[@class="author"]')
    for i in author:
        Author.append(i.text)
start=0
end=10
for page in range(start,end):        
    Tquotes=driver.find_elements(By.XPATH,'//div[@class="tags"]')
    for i in Tquotes:
        Type_of_Quotes.append(i.text)
        
    page_button=driver.find_element(By.XPATH,'/html/body/div[1]/div[2]/div/div/div/div[1]/div/div[3]/li[3]/a')
    page_button.click()
    time.sleep(3)

In [45]:
print(len(Quote),
len(Author),
len(Type_of_Quotes))

1000 1000 1000

# Question 9

In [47]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\hi\anaconda3\lib\site-packages (4.7.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\hi\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\hi\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: trio~=0.17 in c:\users\hi\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\hi\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: sortedcontainers in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: idna in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: cffi>=1.14 in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: sniffio in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: outcome in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in c:\users\hi\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\hi\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\hi\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\hi\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [48]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [49]:
driver=webdriver.Chrome(r"C:\Users\Hi\Desktop\chromedriver.exe")

In [50]:
driver.get("https://www.jagranjosh.com/")

In [51]:
search=driver.find_element(By.XPATH,"/html/body/div/div[1]/div/div[1]/div/div[6]/div/div[1]/header/div[3]/ul/li[9]/a")
search.click()

In [52]:
search=driver.find_element(By.XPATH,"/html/body/div/div/div/div[2]/div/div[10]/div/div/ul/li[2]/a")
search.click()

In [57]:
Name=[]
Born_Dead=[]
Term_of_office=[]
Remark=[]

In [58]:
#Name
name_tags=driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[2]/p')
for i in name_tags:
    name=i.text
    Name.append(name)
    
#Born-Dead
born_dead_tags=driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[3]/p')
for i in born_dead_tags:
    bd=i.text
    Born_Dead.append(bd)
    
#Term of office
Term_tags=driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[4]')
for i in Term_tags:
    termo=i.text
    Term_of_office.append(termo)
    
#Remark
remark_tags=driver.find_elements(By.XPATH,'//div[@class="table-box"]/table/tbody/tr/td[5]/p')
for i in remark_tags:
    remk=i.text
    Remark.append(remk)

In [59]:
print(len(Name),len(Born_Dead),len(Term_of_office),len(Remark))

18 18 18 18

In [60]:
import pandas as pd
df=pd.DataFrame({'Name':Name,'Born-Dead':Born_Dead,'Term of Office':Term_of_office,'Remarks':Remark})
df

,Name,Born-Dead,Term of Office,Remarks
0,Jawahar Lal Nehru,(1889–1964),"15 August 1947 to 27 May 1964\n16 years, 286 days",The first prime minister of India and the long...
1,Gulzarilal Nanda (Acting),(1898-1998),"27 May 1964 to 9 June 1964,\n13 days",First acting PM of India
2,Lal Bahadur Shastri,(1904–1966),"9 June 1964 to 11 January 1966\n1 year, 216 days",He has given the slogan of 'Jai Jawan Jai Kisa...
3,Gulzari Lal Nanda (Acting),(1898-1998),11 January 1966 to 24 January 1966\n13 days,-
4,Indira Gandhi,(1917–1984),"24 January 1966 to 24 March 1977\n11 years, 59...",First female Prime Minister of India
5,Morarji Desai,(1896–1995),"24 March 1977 to 28 July 1979 \n2 year, 126 days",Oldest to become PM (81 years old) and first t...
6,Charan Singh,(1902–1987),28 July 1979 to 14 January 1980\n170 days,Only PM who did not face the Parliament
7,Indira Gandhi,(1917–1984),"14 January 1980 to 31 October 1984\n4 years, 2...",The first lady who served as PM for the second...
8,Rajiv Gandhi,(1944–1991),"31 October 1984 to 2 December 1989\n5 years, 3...",Youngest to become PM (40 years old)
9,V. P. Singh,(1931–2008),2 December 1989 to 10 November 1990\n343 days,First PM to step down after a vote of no confi...
10,Chandra Shekhar,(1927–2007),10 November 1990 to 21 June 1991\n223 days,He belongs to Samajwadi Janata Party
11,P. V. Narasimha Rao,(1921–2004),"21 June 1991 to 16 May 1996\n4 years, 330 days",First PM from south India
12,Atal Bihari Vajpayee,(1924- 2018),16 May 1996 to 1 June 1996\n16 days,PM for shortest tenure
13,H. D. Deve Gowda,(born 1933),1 June 1996 to 21 April 1997\n324 days,He belongs to Janata Dal
14,Inder Kumar Gujral,(1919–2012),21 April 1997 to 19 March 1998 \n332 days,------
15,Atal Bihari Vajpayee,(1924-2018),"19 March 1998 to 22 May 2004 \n6 years, 64 days",The first non-congress PM who completed a ful...
16,Manmohan Singh,(born 1932),"22 May 2004 to 26 May 2014 \n10 years, 4 days",First Sikh PM
17,Narendra Modi,(born 1950),26 May 2014 - Present,4th Prime Minister of India who served two con...

# Question 10

In [35]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\hi\anaconda3\lib\site-packages (4.7.2)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\hi\anaconda3\lib\site-packages (from selenium) (0.9.2)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\hi\anaconda3\lib\site-packages (from selenium) (2021.10.8)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\hi\anaconda3\lib\site-packages (from selenium) (1.26.9)
Requirement already satisfied: trio~=0.17 in c:\users\hi\anaconda3\lib\site-packages (from selenium) (0.22.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (21.4.0)
Requirement already satisfied: sniffio in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: cffi>=1.14 in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.0)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.1.0)
Requirement already satisfied: async-generator>=1.9 in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: idna in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.3)
Requirement already satisfied: sortedcontainers in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: outcome in c:\users\hi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: pycparser in c:\users\hi\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: wsproto>=0.14 in c:\users\hi\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\hi\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\hi\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [36]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

In [37]:
driver=webdriver.Chrome(r"C:\Users\Hi\Desktop\chromedriver.exe")

In [38]:
driver.get("https://www.motor1.com/")

In [39]:
search=driver.find_element(By.XPATH,"/html/body/div[3]/div[12]/div/div[2]/div[1]/div[3]/div/div[1]/div[2]/a/span")
search.click()

In [40]:
search=driver.find_element(By.XPATH,"/html/body/div[3]/div[9]/div[1]/div[1]/div/div/div[9]/div/div[1]/h3/a")
search.click()

In [43]:
Car_name=[]
Price=[]

In [44]:
#Car Name
name_tags=driver.find_elements(By.XPATH,'//h3[@class="subheader"]')
for i in name_tags[0:50]:
    name=i.text
    Car_name.append(name)
    
#Price
price_tags=driver.find_elements(By.XPATH,"//strong")
for i in price_tags[0:50]:
    prc=i.text
    Price.append(prc)

In [45]:
print(len(Car_name),len(Price))

50 50

In [46]:
import pandas as pd
df=pd.DataFrame({'Car Name':Car_name,'Car Price':Price})
df

                           Car Name             Car Price
0                         Drako GTE   Price: $1.2 Million
1                     De Tomaso P72   Price: $1.3 Million
2                 Ferrari LaFerrari   Price: $1.4 Million
3                     Pagani Huayra   Price: $1.4 Million
4                      McLaren Elva
5                       Czinger 21C   Price: $1.7 Million
6                     Ferrari Monza   Price: $1.7 Million
7                Gordon Murray T.33   Price: $1.7 Million
8                 Koenigsegg Gemera   Price: $1.7 Million
9                       Zenvo TSR-S   Price: $1.7 Million
10               Hennessey Venom F5   Price: $1.7 Million
11                  Bentley Bacalar   Price: $1.8 Million
12    Hispano Suiza Carmen Boulogne   Price: $1.9 Million
13           Bentley Mulliner Batur   Price: $1.9 Million
14                     Deus Vayanne   Price: $2.0 Million
15                      SSC Tuatara   Price: $2.0 Million
16                      Lotus Evija  Price: $2.0 Million*
17              Aston Martin Vulcan   Price: $2.1 Million
18                       Delage D12   Price: $2.3 Million
19                McLaren Speedtail   Price: $2.3 Million
20                     Rimac Nevera   Price: $2.3 Million
21                    Pagani Utopia   Price: $2.4 Million
22             Pininfarina Battista   Price: $2.5 Million
23                Ferrari FXX K Evo   Price: $2.5 Million
24               Gordon Murray T.50   Price: $2.6 Million
25             Lamborghini Countach   Price: $2.6 Million
26         Mercedes-AMG Project One   Price: $2.6 Million
27              Aston Martin Victor   Price: $2.7 Million
28      Hennessey Venom F5 Roadster   Price: $3.0 Million
29                 Koenigsegg Jesko          $3.0 Million
30            Aston Martin Valkyrie   Price: $3.0 Million
31        W Motors Lykan Hypersport   Price: $3.2 Million
32                    McLaren Solus   Price: $3.4 Million
33        Pagani Huayra Roadster BC          $3.5 Million
34         Bugatti Chiron Pur Sport   Price: $3.5 Million
35                 Lamborghini Sian   Price: $3.6 Million
36                 Koenigsegg CC850   Price: $3.6 million
37  Bugatti Chiron Super Sport 300+   Price: $3.7 Million
38               Lamborghini Veneno   Price: $3.9 Million
39                   Bugatti Bolide   Price: $4.5 Million
40                  Bugatti Mistral   Price: $4.7 Million
41              Pagani Huayra Imola   Price: $5.0 Million
42                     Bugatti Divo   Price: $5.4 Million
43              SP Automotive Chaos   Price: $5.8 Million
44                 Pagani Codalunga   Price: $6.4 Million
45         Mercedes-Maybach Exelero   Price: $7.4 Million
46               Bugatti Centodieci   Price: $8.0 Million
47             Rolls-Royce Sweptail   Price: $9.0 Million
48         Bugatti La Voiture Noire  Price: $12.8 Million
49           Rolls-Royce Boat Tail*  Price: $13.4 Million